<h4>If you want to delete your profile press submit button?</h4>
<form action="/delete_profile" method="delete"
  <input type="hidden" name="_method" value="DELETE">    
<button class="btn waves-effect waves-light grey" type="submit">Submit</button>
</form>