<h1 class = "logo">Vegie 4ever</h1>
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/read">Read</a></li>
        <li><a href="/post">Post</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <p class="about_us col l12">Lorem ipsum.</p>
    </div>
</div>