<div class="row">
    <a href="/" class="brand-logo col l3"><i class="material-icons">home</i> Go vegie</a>
    <h1 class = "logo col l12">Mom, Dad, I am vegetarian</h1>
</div>
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/read">Read Blog</a></li>
      </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <ul class="about_us col l12">
        <p>Why you have to check out this blog:</p>
        <li>If you need vegetarian recipes</li>
        <li>If you want to share your own recipes</li>
        <li>If you want to find all vegetarian places around you</li>
        <li>If you’re nervous about getting all your nutrients in after switching to a plant-based diet</li>
    </div>
</div>