<h1 class = "logo">Mom, Dad, I am vegetarian</h1>
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/read">Read Blog</a></li>
      </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <p class="about_us col l12">Lorem ipsum.</p>
    </div>
</div>