<div class="container">
<h2>Create your new post here and share it with readers!</h2>
<form method="post" action="/save-post">
  <div>
    <label for="Title">Title</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="content">Your Text Here</label>
    <textarea name="postbody"></textarea>
  </div>
  <div>
    <label for="image">Image URL</label>
    <input type="text" name="picture">
  </div>
  <div>
    <label for="Tag">Tags</label>
    <input type="text" name="tag">
  </div>

   <button class="submit" class="btn waves-effect waves-light grey" type="submit">Share</button>
</form>
</div>

