<div>
  <h5 class="white-text">Sign In</h5>
    <form action="/signin" method="post">
      <input type="text" name="email" placeholder="Enter your email" value="">
      <input type="password" name="password" placeholder="Enter your password" value="">                  
      <input type="submit" value="sign in">
    </form>
</div>
