<div class="row">
    <h1 class = "logo col l12">Mom, Dad, I am vegetarian</h1>
</div>

<div class="container about_us">
<div class="row col l12">
<h4 class="sign-text">Sign Up</h4>
</div>
<form action="/signup" method="post">
  <div>
    <label for="First_name">Enter your first name</label>
    <input type="text" name="first_name">
  </div>
  <div>
    <label for="Last_name">Enter your last name</label>
    <input type="text" name="last_name">
  </div>
  <div>
    <label for="DOB">Enter your DOB mm/dd/yyyy</label>
    <input type="text" name="d_o_b">
  </div>
  <div>
    <label for="Email">Enter your email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">Enter your password</label>
    <input type="password" name="password">
  </div>
   <button class="submit" type="submit">sign up</button>
</form>
</div>
