<div class="row">
    <h1 class = "logo col l12">Mom, Dad, I am vegetarian</h1>
</div>
<div class="container">
<div class="row col l12">
<h4 class="sign-text">Sign In</h4>
</div>
<form action="/signin" method="post">
  <div>
    <label for="Email">Enter your email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">Enter your password</label>
    <input type="password" name="password">
  </div>
   <button class="submit" type="submit">sign in</button>
</form>
</div>