<div>
  <h5 class="white-text">Sign up</h5>
    <form action="/signup" method="post">
      <input type="text" name="first_name" placeholder="Enter your first name" value="">
      <input type="text" name="last_name" placeholder="Enter your last name" value="">
      <input type="text" name="d_o_b" placeholder="Enter your DOB" value="">
      <input type="text" name="email" placeholder="Enter your email" value="">
      <input type="password" name="password" placeholder="Enter your password" value="">                  
      <input type="submit" value="sign up">
    </form>
</div>
