<div class="row">
    <a href="/" class="brand-logo col l3"><i class="material-icons">home</i> Go vegie</a>
    <h1 class = "logo col l12">Mom, Dad, I am vegetarian</h1>
</div>
<div class="container">
  <div>
    <h5 class="sign-text">Sign up</h5>
      <form action="/signup" method="post">
        <input class="sign-text" type="text" name="first_name" placeholder="Enter your first name" value="">
        <input type="text" name="last_name" placeholder="Enter your last name" value="">
        <input type="text" name="d_o_b" placeholder="Enter your DOB" value="">
        <input type="text" name="email" placeholder="Enter your email" value="">
        <input type="password" name="password" placeholder="Enter your password" value="">                  
        <input class="submit" type="submit" value="sign up">
      </form>
  </div>
</div>
