<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/post">Create Post</a></li>
        <li><a href="/delete_profile">Delete Profile</a></li>
        <li><a href="/read">Read</a></li>
      </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
    <ul class="about_us">
    <h3 class="profile_info"> My profile info </h3>  
    <li><%="First name: #{@user.first_name}" %></li>
    <li><%="Last name: #{@user.last_name}" %></li>
    <li><%="Date of birth: #{@user.d_o_b}" %></li>
    <li><%="E-mail you use: #{@user.email}" %></li>
    </ul>
    </div>
</div>